body{
    background-color:rgb(18, 84, 112);
}

h1 {
    color:aliceblue ;
    font-family:'Courier New', Courier, monospace;

}

header{
    text-align:center;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    color:aliceblue ;
    background-color:rgb(2, 101, 101);
}

nav{
    background-color:rgb(2, 101, 101);
}

p{
    color:aliceblue;
    background-color:rgb(14, 57, 75);
    font-family:'Courier New', Courier, monospace;
}